*{
    margin: 30px 0px 0px 0px;
}

.name{
    border-radius: 10px;
    border: 1px solid lightblue;
}

.name:hover{
    background-color:lightblue;
    color:rgb(0, 0, 0);
}
.six{
    border-radius: 10px;
    border: 1px solid lightblue;
}
.six:hover{
    background-color: lightblue;
    color: black;
}
input{
    cursor: pointer;
}